<li>
	<div class="item-box">
		<div class="image">
			<a href="{{id}}.html"><img src="images/lazy-load-spinner.gif" data-echo="{{image}}" alt="{{name}}"></a>
		</div>
		<h2 class="name"><a href="{{id}}.html">{{name}}</a></h2>
		<div class="reg-price">MSRP: <span>${{price}}</span></div>
		<div class="sale-price">Sale: ${{salePrice}}</div>
	</div>
</li>