<div id="templates">

	<div id="item-box-template">
		<li>
			<div class="item-box">
				<div class="image">
					<a href="{{this.id}}.html"><img src="images/lazy-load-spinner.gif" data-echo="{{this.image}}" alt="{{name}}"></a>
				</div>
				<h2 class="name"><a href="{{this.id}}.html">{{name}}</a></h2>
				<div class="reg-price">MSRP: <span>${{this.price}}</span></div>
				<div class="sale-price">Sale: ${{this.salePrice}}</div>
			</div>
		</li>
	</div>

	<div class="pagination-bar" id="pagination-bar-template">

		<div class="left">
		
			<div class="item-count">Showing 1 - 24 of 319 items</div>

			<div class="pagination-controls">
				<button type="button" class="generic-btn prev"><i class="fa fa-caret-left"></i> Previous</button>
				<ul class="pages">
					<li>1</li>
					<li class="current">2</li>
					<li>3</li>
					<li class="dots">...</li>
					<li>10</li>
				</ul>
				<button type="button" class="generic-btn next">Next <i class="fa fa-caret-right"></i></button>
				<div class="view-all"><a>View All</a></div>
			</div>

		</div>

		<div class="right">

			<div class="items-per-page">
				<label>Items per page:</label>
				<select>
					<option value="24">24</option>
					<option value="36">36</option>
					<option value="48">48</option>
				</select>
			</div>

			<div class="sort-by" id="sort-by-template">
				<label>Sort by:</label>
				<select>
					<option value="{{sortMethod}}">{{sortMethod}}</option>
				</select>
			</div>

		</div>

	</div>

</div>